.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.w1210 {
  width: 1210px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.header {
  padding: 15px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .left {
  height: 30px;
}

.header .left .logo {
  height: 24px;
  margin-right: 25px;
}

.header .left .nav_left .first_level_nav {
  margin-right: 25px;
  font-size: 16px;
  color: #652626;
  border-bottom: 2px solid transparent;
  position: relative;
}

.header .left .nav_left .first_level_nav:hover {
  border-bottom: 2px solid #000;
}

.header .left .nav_left .first_level_nav:hover > .submenu {
  display: block;
}

.header .left .nav_left .first_level_nav .submenu {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: none;
}

.header .left .nav_left .first_level_nav .submenu .second_level_nav {
  position: relative;
  margin-bottom: 8px;
}

.header .left .nav_left .first_level_nav .submenu .second_level_nav:hover > .sunmenu {
  display: block;
}

.header .left .nav_left .first_level_nav .submenu .second_level_nav .sunmenu {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  width: 100%;
  margin-left: 10px;
}

.header .left .nav_left .first_level_nav .submenu .second_level_nav .sunmenu .third_level_nav {
  margin-bottom: 8px;
}

.header .right {
  line-height: 30px;
}

.header .right input {
  display: none;
}

.header .right input:checked ~ .show {
  display: block;
}

.header .right label {
  font-size: 15px;
  cursor: pointer;
}

.header .right label:hover {
  border-bottom: 2px solid #000;
}

.header .right .ico {
  cursor: pointer;
}

.header .right .show {
  width: 1160px;
  position: absolute;
  top: 50px;
  left: -5px;
  z-index: 3;
  padding: 25px;
  background-color: #F2F2F2;
  height: 350px;
  border-bottom: 2px solid #000;
  display: none;
}

.header .right .show .first li, .header .right .show .second li, .header .right .show .third li, .header .right .show .fourth li, .header .right .show .fifth li, .header .right .show .sixth li {
  margin-bottom: 14px;
}

.header .right .show .first li a:hover, .header .right .show .second li a:hover, .header .right .show .third li a:hover, .header .right .show .fourth li a:hover, .header .right .show .fifth li a:hover, .header .right .show .sixth li a:hover {
  border-bottom: 1px solid #000;
  color: black;
}

.header .right .show .first > li:nth-child(1), .header .right .show .second > li:nth-child(1), .header .right .show .third > li:nth-child(1), .header .right .show .fourth > li:nth-child(1), .header .right .show .fifth > li:nth-child(1), .header .right .show .sixth > li:nth-child(1) {
  font-size: 15px;
  font-weight: 800;
}

.header .right .show .first, .header .right .show .second {
  margin-right: 60px;
}

.header .right .show .third {
  margin-right: 70px;
}

.header .right .show .fourth {
  margin-right: 165px;
}

.header .right .show .fifth {
  margin-right: 75px;
}

.header .right .icon {
  font-size: 25px;
  font-weight: 800;
  margin-left: 20px;
}

a .content {
  height: 460px;
  overflow: hidden;
  position: relative;
}

a .content input {
  display: none;
}

a .content .lunbo1:checked ~ .banner {
  transform: translateX(0px);
}

a .content .lunbo1:checked ~ .page > label:nth-child(1) {
  background-color: #000;
}

a .content .lunbo2:checked ~ .banner {
  transform: translateX(-1210px);
}

a .content .lunbo2:checked ~ .page > label:nth-child(2) {
  background-color: #000;
}

a .content .banner {
  width: 2420px;
  height: 100%;
  transition: transform .5s ease-out;
}

a .content .banner .first {
  height: 100%;
  background: #E9E9E9 url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4pPS7?ver=2e6d&q=90&m=8&h=609&w=1083&b=%23FFFFFFFF&l=f&x=0&y=0&s=2116&d=1190&aim=true) no-repeat center center/cover;
}

a .content .banner .first h1 {
  font-size: 22px;
  color: #171717;
  margin: 150px 0 0 70px;
}

a .content .banner .first p {
  font-size: 16px;
  color: black;
  width: 460px;
  margin: 20px 0 20px 70px;
}

a .content .banner .first .black {
  width: 126px;
  line-height: 40px;
  background-color: black;
  font-size: 15px;
  text-align: center;
  margin-left: 70px;
}

a .content .banner .first .black span {
  display: inline-block;
  height: 32px;
  color: white;
  transition: transform .3s linear;
}

a .content .banner .first .black:hover > span:nth-child(1) {
  border-bottom: 2px solid #fff;
  transform: translateX(-3px);
}

a .content .banner .first .black:hover > span:nth-child(2) {
  transform: translateX(5px);
}

a .content .banner .second {
  height: 100%;
  background: #E9E9E9 url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE3NJbs?ver=0334&q=90&m=8&h=609&w=1083&b=%23FFFFFFFF&l=f&x=385&y=159&s=1735&d=976&aim=true) no-repeat center center/cover;
}

a .content .banner .second h2 {
  margin: 150px 0 0 70px;
  font-size: 22px;
  color: #171717;
}

a .content .banner .second p {
  margin: 20px 0 20px 70px;
  font-size: 16px;
  color: black;
  width: 460px;
}

a .content .banner .second .black {
  width: 126px;
  line-height: 40px;
  background-color: black;
  font-size: 15px;
  text-align: center;
  margin-left: 70px;
}

a .content .banner .second .black span {
  display: inline-block;
  color: white;
  height: 32px;
  transition: transform .3s linear;
}

a .content .banner .second .black:hover > span:nth-child(1) {
  border-bottom: 2px solid #fff;
  transform: translateX(-3px);
}

a .content .banner .second .black:hover > span:nth-child(2) {
  transform: translateX(5px);
}

a .content .page {
  position: absolute;
  top: 93%;
  left: 48%;
}

a .content .page label {
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-radius: 6px;
  display: block;
  margin-right: 10px;
  background-color: #fff;
  float: left;
  border: 2px solid #000;
}

a .content .anniu > label:nth-child(1) {
  position: absolute;
  top: 200px;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 800;
}

a .content .anniu > label:nth-child(2) {
  position: absolute;
  top: 200px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 800;
}

.shops_1 {
  margin: 40px auto;
}

.shops_1 .lists_1 {
  width: 100%;
}

.shops_1 .lists_1 li {
  margin-right: 30px;
  width: 280px;
}

.shops_1 .lists_1 li:hover {
  opacity: 0.8;
}

.shops_1 .lists_1 li img {
  width: 100%;
}

.shops_1 .lists_1 li h1 {
  font-size: 20px;
  margin-top: 40px;
  color: black;
}

.shops_1 .lists_1 li p {
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
}

.shops_1 .lists_1 li .d {
  width: 180px;
}

.shops_1 .lists_1 li .d span {
  color: #005DA6;
  font-size: 15px;
  display: inline-block;
  font-weight: 800;
  transition: transform .2s linear;
}

.shops_1 .lists_1 li .d:hover > span:nth-child(1) {
  border-bottom: 2px solid #005DA6;
}

.shops_1 .lists_1 li .d:hover > span:nth-child(2) {
  transform: translateX(5px);
}

.shops_1 li:last-child {
  margin: 0;
}

.buy {
  background: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE2HmR2?ver=188f&q=90&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=210&s=2120&d=795&aim=true) no-repeat center center/cover;
  height: 456px;
  padding: 1px;
  margin-bottom: 35px;
  position: relative;
}

.buy h2 {
  margin: 150px 0 0 70px;
  font-size: 26px;
  color: #171717;
}

.buy p {
  font-size: 16px;
  margin: 10px 0 20px 70px;
  color: black;
  width: 460px;
}

.buy .black {
  margin: 0 0 0 70px;
  width: 126px;
  line-height: 40px;
  background-color: black;
  font-size: 15px;
  text-align: center;
}

.buy .black span {
  display: inline-block;
  height: 32px;
  color: white;
  transition: transform .2s linear;
}

.buy .black:hover > span:nth-child(1) {
  border-bottom: 2px solid #fff;
  transform: translateX(-3px);
}

.buy .black:hover > span:nth-child(2) {
  transform: translateX(5px);
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 14px;
}

.shops_2 {
  margin-bottom: 60px;
}

.shops_2 li {
  margin-right: 30px;
  width: 280px;
}

.shops_2 li:hover {
  opacity: 0.9;
}

.shops_2 li img {
  width: 100%;
}

.shops_2 li h1 {
  font-size: 20px;
  margin-top: 40px;
  color: black;
}

.shops_2 li p {
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
}

.shops_2 li .d {
  width: 180px;
}

.shops_2 li .d span {
  color: #005DA6;
  font-size: 15px;
  font-weight: 800;
  display: inline-block;
  transition: transform .2s linear;
}

.shops_2 li .d:hover > span:nth-child(1) {
  border-bottom: 2px solid #005DA6;
}

.shops_2 li .d:hover > span:nth-child(2) {
  transform: translateX(5px);
}

.shops_2 li:last-child {
  margin: 0;
}

.focus {
  margin-left: 70px;
  margin-right: 12px;
  font-size: 16px;
  color: #888;
}

.weixin {
  position: relative;
}

.weixin:hover > .erweima {
  display: block;
}

.weixin .erweima {
  width: 184px;
  position: absolute;
  top: 40px;
  left: -55px;
  background-color: white;
  z-index: 1;
  display: none;
}

.weixin .erweima img {
  height: 80px;
}

.weixin .erweima img:nth-child(1) {
  margin-right: 5px;
}

.weixin .erweima span {
  margin-left: 18px;
  margin-right: 16px;
}

.weixin img, .weibo img {
  height: 30px;
  margin-right: 15px;
}

.footer {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  padding-top: 40px;
  padding-left: 65px;
  background-color: #F2F2F2;
}

.footer .content {
  position: relative;
}

.footer .content .first li, .footer .content .second li, .footer .content .third li, .footer .content .fourth li, .footer .content .fifth li, .footer .content .sixth li {
  margin-bottom: 20px;
}

.footer .content .first li a:hover, .footer .content .second li a:hover, .footer .content .third li a:hover, .footer .content .fourth li a:hover, .footer .content .fifth li a:hover, .footer .content .sixth li a:hover {
  border-bottom: 1px solid #000;
  color: black;
}

.footer .content .first > li:nth-child(1), .footer .content .second > li:nth-child(1), .footer .content .third > li:nth-child(1), .footer .content .fourth > li:nth-child(1), .footer .content .fifth > li:nth-child(1), .footer .content .sixth > li:nth-child(1) {
  font-size: 15px;
  font-weight: 500;
}

.footer .content .first, .footer .content .second {
  margin-right: 90px;
}

.footer .content .third {
  margin-right: 70px;
}

.footer .content .fourth {
  margin-right: 165px;
}

.footer .content .fifth {
  margin-right: 75px;
}

.footer .content .foot {
  width: 100%;
  position: absolute;
  left: 0;
  top: 360px;
}

.footer .content .foot span a:hover {
  border-bottom: 1px solid #888;
}

.footer .content .foot .info {
  margin-left: 225px;
}

.footer .content .foot .info li {
  margin-right: 25px;
}

.footer .content .foot .info li a:hover {
  border-bottom: 1px solid #000;
  color: black;
}
